
// If we are editing a level, cancel the level editor
FiercePlanet._stopAgents();

// Construct and show the level gallery
var dialogX = FiercePlanet.Dialogs.calculateWorldLeft();
var dialogY = FiercePlanet.Dialogs.calculateWorldTop();
FiercePlanet.genericDialog = $('<div></div>')
        .html("<%=  escape_javascript(render('profiles/form', :locals => { :levels => @levels})) %>")
        .dialog({
                 position: [dialogX, dialogY],
                 width: FiercePlanet.WORLD_WIDTH + 7,
                 height: FiercePlanet.WORLD_HEIGHT + 7,
                    autoOpen: false,
                    modal: true,
                    title: 'Profile',
                    buttons: {
                        "OK": function() {
                            $(".edit_profile").submit();
                        },
                        "Cancel": function() {
                            $(this).dialog("close");
                        }
                    }

                });
FiercePlanet.genericDialog.dialog('open');