
FiercePlanet.pauseGame();

// Construct and show the level gallery
var dialogX = FiercePlanet.calculateWorldLeft();
var dialogY = FiercePlanet.calculateWorldTop();
FiercePlanet.$highScores = $('<div></div>')
        .html("<%=  escape_javascript(render('profiles/high_scores', :locals => { :profiles => @profiles})) %>")
        .dialog({
                   position: [dialogX, dialogY],
                   width: FiercePlanet.WORLD_WIDTH + 7,
                   height: FiercePlanet.WORLD_HEIGHT + 7,
                    autoOpen: false,
                    modal: true,
                    title: 'High Scores',
                    buttons: {
                        "OK": function() {
                            $(this).dialog("close");
                        }

                    },
                    close: function(ev, ui) { $(this).remove(); },

                });
FiercePlanet.$highScores.dialog('open');

