<!-- Should always be visible -->
<div id="controls">
    <div id="playAgents" class="playing"><span class="hide">Play</span></div>
    <div id="slowDown"><span class="hide">Slower</span></div>
    <div id="speedUp"><span class="hide">Faster</span></div>
    <div id="newGame"><span class="hide">New</span></div>
    <div id="restartLevel"><span class="hide">Restart</span></div>

    <div class="divide"></div>

    <div id="panUp"><span class="hide">pan Up</span></div>
    <div id="panLeft"><span class="hide">pan Left</span></div>
    <div id="panReset"><span class="hide">pan Reset</span></div>
    <div id="panRight"><span class="hide">pan Right</span></div>
    <div id="panDown"><span class="hide">pan Down</span></div>

  <div class="divide"></div>
    <div id="zoomOut"><span class="hide">zoom Out</span></div>
    <div id="zoomReset"><span class="hide">zoom Reset</span></div>
    <div id="zoomIn"><span class="hide">zoom In</span></div>
  <div class="divide"></div>

    <a href="#" id="tutorial">Tutorial</a>
    <a href="#" id="openLevelGallery">Levels</a>
  <a href="#" id="settings">Settings</a>
    <% if current_user %>
      <%= link_to "Editor", levels_path, :id => 'editor', :method => :get, :remote => true %>
    <% end %>
    <div class="divide"></div>
      <div id="admin-controls" style="display: <%= (current_user.try(:admin?)) ? 'block' : 'none' %>">
          <button id="debug">Debug</button>
          <button id="replay">Replay</button>
          <button id="script-editor">Script Editor</button>
          <button id="story-board">Story board</button>
        <div class="divide"></div>
      </div>
</div>

<div id="notifications" style="display: none">
  <p><%= flash[:notice] %></p>
</div>
