<div id="controls">
  <table>
    <tr>
      <td>
        <img src="/images/8bit/play.png" id="startAgents" title="Play"/> Play
      </td>
    </tr>
    <tr>
      <td>
        <img src="/images/8bit/pause.png" id="stopAgents" title="Pause"/> Pause
      </td>
    </tr>
    <tr>
      <td>
        <img src="/images/8bit/backward.png" id="slowDown" title="Slow down"/> Slower
      </td>
    </tr>
    <tr>
      <td>
        <img src="/images/8bit/forward.png" id="speedUp" title="Speed up"/> Faster
      </td>
    </tr>
    <tr>
      <td>
        <img src="/images/8bit/new.png" id="newGame" title="New Game"/> New
      </td>
    </tr>
    <tr>
      <td>
        <img src="/images/8bit/restart.png" id="restartLevel" title="Restart Level"/> Restart
      </td>
    </tr>
    <tr>
      <td>
        <img src="/images/8bit/resource.png" id="showResourceGallery" title="Resource Gallery"/> Resources
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to image_tag("/images/8bit/level.png", :id => "showLevelGallery", :title => "Level Gallery"), gallery_levels_path, :method => :get, :remote => true %> Level Menu
      </td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td>
        <table>
          <tr>
            <td colspan="3">Pan
            </td>
          </tr>
          <tr>
            <td>
            </td>
            <td>
              <img src="/images/8bit/up.png" id="panUp"/>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              <img src="/images/8bit/left.png" id="panLeft"/>
            </td>
            <td>
              <img src="/images/8bit/home.png" id="panReset"/>
            </td>
            <td>
              <img src="/images/8bit/right.png" id="panRight"/>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <img src="/images/8bit/down.png" id="panDown"/>
            </td>
            <td></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table>
          <tr>
            <td colspan="3">Zoom
            </td>
          </tr>
          <tr>
            <td>
              <img src="/images/8bit/out.png" id="zoomOut"/>
            </td>
            <td>
              <img src="/images/8bit/zero.png" id="zoomReset"/>
            </td>
            <td>
              <img src="/images/8bit/in.png" id="zoomIn"/>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td>
        <%= link_to "Level Editor", levels_path, :method => :get, :remote => true %>
      </td>
    </tr>
  </table>



  <br/>
  <div id="admin-controls" style="display: <%= (current_user.try(:admin?)) ? 'block' : 'none' %>">
      <h3>Admin functions:</h3>
      <br/>
      <strong>Developmental:</strong>
      <br/>
      God mode: <input id="godModeInput" name="godModeInput" type="checkbox"/>
      <br/>
      Rivals: <input id="rivalsVisibleInput" name="rivalsVisibleInput" type="checkbox"/>
      <br/>
      Predators: <input id="predatorsVisibleInput" name="predatorsVisibleInput" type="checkbox"/>
      <br/>
      Change tiles: <input id="tilesMutableInput" name="tilesMutableInput" type="checkbox"/>
      <br/>
      Sounds: <input id="soundsPlayable" name="soundsPlayable" type="checkbox"/>
      <br/>
      Background icons: <input id="backgroundIconsVisibleInput" name="backgroundIconsVisibleInput" type="checkbox"/>
      <br/>

    <!--Resource handling-->
      Resource weakening: <input id="resourcesInTensionInput" name="resourcesInTensionInput" type="checkbox"/>
      <br/>
    Ignore resource balance: <input id="ignoreResourceBalanceInput" name="ignoreResourceBalanceInput" type="checkbox"/>
    <br/>
      Resource bonus: <input id="resourceBonusInput" name="resourceBonusInput" type="checkbox"/>
      <br/>
      Use general health: <input id="applyGeneralHealthInput" name="applyGeneralHealthInput" type="checkbox"/>
      <br/>
      (then click 'New game', and 'Start')
      <br/>
      <button id="debug">Debug</button>
      <br/>
  </div>
  <br/>
</div>
