<div id="controls">
  <h3>Control Panel</h3>
  <br/>

  Speed:
  <br/>
  <input id="intervalInput" name="intervalInput" type="range" min="10" max="100" value="50" step="10" onchange="resetSpeed()" />
  <br/>

  <button id="startAgents" onclick="startAgents();">Start</button>
  <br/>
  <button id="stopAgents" onclick="stopAgents();">Pause</button>
  <br/>
  <button id="restartLevel" onclick="restartLevel();">Restart Level</button>
  <br/>
  <button id="fullResetWorld" onclick="newGame();">New Game</button>
  <br/>
  <%= button_to "Level gallery", gallery_levels_path, :method => :get, :remote => true %>
  <br/>
  <%
    if current_user.try(:admin?)
  %>
      Admin functions:
      <br/>
      God mode: <input id="godModeInput" name="intervalInput" type="checkbox" />
      <br/>
      <button id="resourceGallery" onclick="showResourceGalleryDialog();">Resource Gallery</button>
      <br/>
      <button id="cells" onclick="processAgents();">Debug</button>
      <br/>

      <%= button_to "Level Editor", levels_path, :method => :get, :remote => true %>
      <button id="pan" onclick="pan();">Pan</button>
      <br/>
      <button id="zoom" onclick="zoom();">Zoom</button>
<% end %>
  <br/>
</div>
