<div id="controls">
  <div id="notifications">
    <p><%= flash[:notice] %></p>
  </div>
  <table style="clear:both">
    <tr>
      <td>
        <img src="/images/8bit/play.png" id="startAgents" title="Play"/> Play
      </td>
    </tr>
    <tr>
      <td>
        <img src="/images/8bit/pause.png" id="stopAgents" title="Pause"/> Pause
      </td>
    </tr>
    <tr>
      <td>
        <img src="/images/8bit/backward.png" id="slowDown" title="Slow down"/> Slower
      </td>
    </tr>
    <tr>
      <td>
        <img src="/images/8bit/forward.png" id="speedUp" title="Speed up"/> Faster
      </td>
    </tr>
    <tr>
      <td>
        <img src="/images/8bit/new.png" id="newGame" title="New Game"/> New
      </td>
    </tr>
    <tr>
      <td>
        <img src="/images/8bit/restart.png" id="restartLevel" title="Restart Level"/> Restart
      </td>
    </tr>
    <tr>
      <td>
        <img src="/images/8bit/resource.png" id="showResourceGallery" title="Resource Gallery"/> Resources
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to image_tag("/images/8bit/level.png", :id => "showLevelGallery", :title => "Level Gallery"), gallery_levels_path, :method => :get, :remote => true %> Level Menu
      </td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td>
        <table>
          <tr>
            <td colspan="3">Pan
            </td>
          </tr>
          <tr>
            <td>
            </td>
            <td>
              <img src="/images/8bit/up.png" id="panUp"/>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              <img src="/images/8bit/left.png" id="panLeft"/>
            </td>
            <td>
              <img src="/images/8bit/home.png" id="panReset"/>
            </td>
            <td>
              <img src="/images/8bit/right.png" id="panRight"/>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <img src="/images/8bit/down.png" id="panDown"/>
            </td>
            <td></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table>
          <tr>
            <td colspan="3">Zoom
            </td>
          </tr>
          <tr>
            <td>
              <img src="/images/8bit/out.png" id="zoomOut"/>
            </td>
            <td>
              <img src="/images/8bit/zero.png" id="zoomReset"/>
            </td>
            <td>
              <img src="/images/8bit/in.png" id="zoomIn"/>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td>
        <%= link_to "Level Editor", levels_path, :method => :get, :remote => true %>
      </td>
    </tr>
    <tr>
      <td>
        <a href="#" id="settings">Settings</a>
      </td>
    </tr>
  </table>



  <br/>
  <div id="admin-controls" style="display: <%= (current_user.try(:admin?)) ? 'block' : 'none' %>">
      <h3>Dev functions:</h3>
    <button id="debug">Debug</button>
       <br/>
    <button id="replay">Replay</button>
       <br/>
    <button id="editor">Script Editor</button>

  </div>
  <br/>
</div>
