<div id="controls">
  <h2>Control Panel</h2>
  <br/>


  <button id="startAgents">Start</button>
  <br/>
  <button id="stopAgents">Pause</button>
  <br/>
  Speed:
  <button id="slowDown">-</button>
  <button id="speedUp">+</button>
  <br/>
  <br/>
  <button id="restartLevel">Restart Level</button>
  <br/>
  <button id="newGame">New Game</button>
  <br/>
  <button id="showResourceGallery">Resource Gallery</button>
  <br/>
  <%= button_to "Level Gallery", gallery_levels_path, :method => :get, :remote => true %>
  <br/>
  <div id="admin-controls" style="display: <%= (current_user.try(:admin?)) ? 'block' : 'none' %>">
      <h3>Admin functions:</h3>
      <br/>
      <%= button_to "Level Editor", levels_path, :method => :get, :remote => true %>
      <br/>
      <strong>Developmental:</strong>
      <br/>
      God mode: <input id="godModeInput" name="godModeInput" type="checkbox"/>
      <br/>
      (then click 'New game', and 'Start')
      <br/>
      <button id="debug">Debug</button>
      <br/>
      <strong>Experimental:</strong>
      <br/>
      <button id="pan">Pan</button>
      <br/>
      <button id="zoom">Zoom</button>
  </div>
  <br/>
</div>
