<div id="settings-dialog" style="display: none;">

  <div id="settings-tabs">

  	<ul>
        <li><a href="#game-settings">Game play</a></li>
		<li><a href="#user-interface">User interface</a></li>
		<li><a href="#experimental" style="display: <%= (current_user.try(:admin?)) ? 'block' : 'none' %>">Experimental</a></li>
		<li><a href="#testing">Testing</a></li>
	</ul>



  <div id="game-settings">
    <div>
      <input id="agentsCanCommunicate"  type="checkbox" checked="checked"/>
      Allow agents to share their memories
    </div>
    <div>
      <input id="resourcesInTension"  type="checkbox"/>
      Resources affect neighbouring resources
    </div>
    <div>
      <input id="ignoreResourceBalance"  type="checkbox"/>
      Ignore mix of resource categories
    </div>
    <div>
      <input id="applyGeneralHealth"  type="checkbox"/>
      Ignore resource categories altogether
    </div>
    <div>
      <input id="resourcesAffectAllOtherResources"  type="checkbox"/>
      Resources affect all other resources [NOT YET FUNCTIONAL]
    </div>

    <div style="display:none">
      <input id="resourceBonus"  type="checkbox"/>
      Resource mix bonus [NOT YET FUNCTIONAL]
    </div>
    <div style="display:none">
      <input id="resourcesUpgradeable"  type="checkbox"/>
      Resources can be upgraded [NOT YET FUNCTIONAL]
    </div>
  </div>



  <div id="user-interface">
    <div>
      <input id="noticesVisible"  type="checkbox" checked="checked"/> Show notices
    </div>
    <div>
      <input id="scrollingImageVisible"  type="checkbox" checked="checked"/>
      Show scrolling image
    </div>
    <div>
      <input id="catastrophesVisible"  type="checkbox" checked="checked"/>
      Show catastrophes
    </div>
    <div>
      <input id="disableKeyboardShortcuts"  type="checkbox"/> Disable keyboard shortcuts
    </div>
    <div>
      <input id="soundsPlayable"  type="checkbox"/> Play sounds
    </div>
    <div>
      <input id="useInlineResourceSwatch"  type="checkbox" />
      Show inline resource pop-up
    </div>
    <div>
      <input id="allowInlinePanning"  type="checkbox" />
      Allow inline panning
    </div>
    <div>
      <input id="agentTracing"  type="checkbox"/> Show agent movement
    </div>
    <div>
      <input id="invisiblePath"  type="checkbox"/> Make path invisible
    </div>
  </div>




  <div id="experimental" style="display: <%= (current_user.try(:admin?)) ? 'block' : 'none' %>">
        <h4>Experimental options</h4>
        <div>
          <input id="rivalsVisible"  type="checkbox"/> Show rivals
        </div>
        <div>
          <input id="predatorsVisible"  type="checkbox"/> Show predators
        </div>
        <div>
          <input id="tilesMutable"  type="checkbox"/> Allow tiles to be added
        </div>
        <div>
          <input id="tilesRemovable"  type="checkbox"/> Allow tiles to be removed
        </div>
        <div>
          <input id="backgroundIconsVisible"  type="checkbox"/> Show background icons
        </div>
  </div>

  <div id="testing">
    <div>
      <input id="recording"  type="checkbox"/> Record game
    </div>
    <div>
      <input id="godMode"  type="checkbox"/> Play in 'god' mode
    </div>
  </div>


  </div>


</div>
