<div id="resource-gallery" style="display: none;">
  <div>
    Profile details
    <br/>
    Current class: <span id="current-profile-class"><%= current_user.profile.profile_class if current_user %></span>
    <br/>
    Credits: <span id="current-credits"><%= current_user.profile.credits if current_user %></span>
    <br/>
    Capabilities: <span id="current-capabilities"><%= current_user.profile.capabilities if current_user %></span>
  </div>
  <div id="gallery-items">
    <div>
      <div>Economic</div>
      <div class="purchase eco" id="farm-purchase" title="Cost: 10; PAY: 20">
        <a href="#"><img src="/images/farm.gif" title="Farm (Cost: 10; PAY: 20)"></a>
      </div>
      <div class="purchase eco" id="shop-purchase" title="Cost: 15; PAY: 30">
        <a href="#"><img src="/images/shop.gif" title="Shop (Cost: 15; PAY: 30)"></a>
      </div>
      <div class="purchase eco" id="bank-purchase" title="Cost: 20; PAY: 50">
        <a href="#"><img src="/images/bank.gif" title="Bank (Cost: 20; PAY: 50)"></a>
      </div>
      <div class="purchase eco" id="factory-purchase" title="Cost: 25; PAY: 70">
        <a href="#"><img src="/images/factory.gif" title="Factory (Cost: 25; PAY: 70)"></a>
      </div>
      <div class="purchase eco" id="stockmarket-purchase" title="Cost: 30; PAY: 90">
        <a href="#"><img src="/images/stockmarket.gif" title="Stockmarket (Cost: 30; PAY: 90)"></a>
      </div>
    </div>
    <div>
      <div>Environmental</div>
      <div class="purchase env" id="water-purchase" title="Cost: 10; PAY: 10">
        <a href="#"><img src="/images/water.gif" title="Fresh Water (Cost: 10; PAY: 10)"></a>
      </div>
      <div class="purchase env" id="park-purchase" title="Cost: 15; PAY: 15">
        <a href="#"><img src="/images/park.gif" title="Wildlife Park (Cost: 15; PAY: 15)"></a>
      </div>
      <div class="purchase env" id="air-purchase" title="Cost: 20; PAY: 25">
        <a href="#"><img src="/images/air.gif" title="Clean Air (Cost: 20; PAY: 25)"></a>
      </div>
      <div class="purchase env" id="renewable-energy-purchase" title="Cost: 25; PAY: 35">
        <a href="#"><img src="/images/energy.gif" title="Green Energy (Cost: 25; PAY: 35)"></a>
      </div>
      <div class="purchase env" id="biodiversity-purchase" title="Cost: 30; PAY: 45">
        <a href="#"><img src="/images/biodiversity.gif" title="Biodiversity (Cost: 30; PAY: 45)"></a>
      </div>
    </div>
    <div>
      <div>Social</div>
      <div class="purchase soc" id="clinic-purchase" title="Cost: 10; PAY: 5">
        <a href="#"><img src="/images/clinic.gif" title="Clinic (Cost: 10; PAY: 5)"></a>
      </div>
      <div class="purchase soc" id="school-purchase" title="Cost: 15; PAY: 8">
        <a href="#"><img src="/images/school.gif" title="School (Cost: 15; PAY: 8)"></a>
      </div>
      <div class="purchase soc" id="legal-purchase" title="Cost: 20; PAY: 15">
        <a href="#"><img src="/images/legal.gif" title="Legal System (Cost: 20; PAY: 15)"></a>
      </div>
      <div class="purchase soc" id="democracy-purchase" title="Cost: 25; PAY: 20">
        <a href="#"><img src="/images/democracy.gif" title="Democracy (Cost: 25; PAY: 20)"></a>
      </div>
      <div class="purchase soc" id="festival-purchase" title="Cost: 30; PAY: 25">
        <a href="#"><img src="/images/festival.gif" title="Festival (Cost: 30; PAY: 25)"></a>
      </div>
    </div>
  </div>

</div>
