<div id="resource-gallery" style="display: none;">
  <div>
    Current class: <span id="current-profile-class"><%= current_user.profile.profile_class if current_user %></span>
    <br/>
    Credits: <span id="current-credits"><%= current_user.profile.credits if current_user %></span>
    <br/>
    Capabilities: <span id="current-capabilities"><%= current_user.profile.capabilities if current_user %></span>
    <br/>
    <em>Click on a resource to purchase:</em>
    <br/>
  </div>

  <div id="gallery-items">
    <!-- This list is generated -->
  </div>

</div>
