<div id="delete-upgrade-dialog" style="display: none;">
  <div id="delete-option">
    <a href="#" id="del-button">Delete <br/>
      <small>(Revenue: 5)</small>
    </a>
  </div>
  <div id="upgrade-option" style="display: none">
    <a href="#" id="upg-button">Upgrade <br/>
      <!--<small>(Cost: 20; PAY: 20)</small>-->
    </a>
  </div>
</div>