<div id="settings-dialog" style="display: none;">
  
    <br/>
    God mode: <input id="godModeInput" name="godModeInput" type="checkbox"/>
      <br/>
      Agents can communicate: <input id="agentsCanCommunicateInput" name="agentsCanCommunicateInput" type="checkbox" checked="checked"/>
      <br/>
      Agent tracing: <input id="agentTracingInput" name="agentTracingInput" type="checkbox"/>
    <br/>
    Recording: <input id="recordingInput" name="recordingInput" type="checkbox"/>
    <br/>
    Invisible path: <input id="invisiblePathInput" name="invisiblePathInput" type="checkbox"/>
    <br/>
    Rivals: <input id="rivalsVisibleInput" name="rivalsVisibleInput" type="checkbox"/>
    <br/>
    Predators: <input id="predatorsVisibleInput" name="predatorsVisibleInput" type="checkbox"/>
    <br/>
    Change tiles: <input id="tilesMutableInput" name="tilesMutableInput" type="checkbox"/>
    <br/>
    Sounds: <input id="soundsPlayable" name="soundsPlayable" type="checkbox"/>
    <br/>
    Background icons: <input id="backgroundIconsVisibleInput" name="backgroundIconsVisibleInput" type="checkbox"/>
    <br/>

    <!--Resource handling-->
    Resource weakening: <input id="resourcesInTensionInput" name="resourcesInTensionInput" type="checkbox"/>
    <br/>
    Ignore resource balance: <input id="ignoreResourceBalanceInput" name="ignoreResourceBalanceInput" type="checkbox"/>
    <br/>
    Resource bonus: <input id="resourceBonusInput" name="resourceBonusInput" type="checkbox"/>
    <br/>
    Use general health: <input id="applyGeneralHealthInput" name="applyGeneralHealthInput" type="checkbox"/>


</div>
