<div id="level-gallery-dialog" style="display: none;">

  <div id="level-gallery-tabs">

  	<ul>
        <li><a href="#default-levels">Default levels</a></li>
		<li>
          <a href="/levels/gallery">Custom levels</a>
        </li>
        <li><a href="#difficulty">Difficulty</a></li>
	</ul>


  <div id="default-levels">
    <div id="thumbnails">
      <div id="levelSelect1" class="thumbnail"><img src="/images/levels/level-thumbnail-1.png" alt="">

        <div><strong>Level 1:</strong><br/> Welcome to Fierce Planet!</div>
      </div>
      <div id="levelSelect2" class="thumbnail"><img src="/images/levels/level-thumbnail-2.png" alt="">

        <div><strong>Level 2:</strong><br/> Twists and Turns</div>
      </div>
      <div id="levelSelect3" class="thumbnail"><img src="/images/levels/level-thumbnail-3.png" alt="">

        <div><strong>Level 3: </strong><br/> Waves of Uncertainty</div>
      </div>
      <div id="levelSelect4" class="thumbnail"><img src="/images/levels/level-thumbnail-4.png" alt="">

        <div><strong>Level 4:</strong><br/> Spiral of Doom</div>
      </div>
      <div id="levelSelect5" class="thumbnail"><img src="/images/levels/level-thumbnail-5.png" alt="">

        <div><strong>Level 5:</strong><br/> A-mazing Grace</div>
      </div>
      <div id="levelSelect6" class="thumbnail"><img src="/images/levels/level-thumbnail-6.png" alt="">

        <div><strong>Level 6:</strong><br/> Dire Straits</div>
      </div>
      <div id="levelSelect7" class="thumbnail"><img src="/images/levels/level-thumbnail-7.png" alt="">

        <div><strong>Level 7:</strong><br/> Like, Totally Random...</div>
      </div>
      <div id="levelSelect8" class="thumbnail"><img src="/images/levels/level-thumbnail-8.png" alt="">

        <div><strong>Level 8:</strong><br/> A Fork (or Two) in the Road</div>
      </div>
      <div id="levelSelect9" class="thumbnail"><img src="/images/levels/level-thumbnail-9.png" alt="">

        <div><strong>Level 9:</strong><br/> Cascades</div>
      </div>
      <div id="levelSelect10" class="thumbnail"><img src="/images/levels/level-thumbnail-10.png" alt="">

        <div><strong>Level 10:</strong><br/> Fields of Ma(i)ze</div>
      </div>
      <div id="levelSelect11" class="thumbnail"><img src="/images/levels/level-thumbnail-11.png" alt="">
        <div><strong>Level 11:</strong><br/> It's a Mad World</div>
      </div>
      <div id="levelSelect12" class="thumbnail"><img src="/images/levels/level-thumbnail-11.png" alt="">
        <div><strong>Level 12:</strong><br/> It's a Mad World</div>
      </div>
    </div>
    
    <form>
      <div style="clear:both; display: none">
        Select a level:
        <br/>
        <select id="levelInput" name="levelInput" size="11">
          <option value="1">Level 1: Welcome to Fierce Planet!</option>
          <option value="2">Level 2: Twists and Turns</option>
          <option value="3">Level 3: Waves of Uncertainty</option>
          <option value="4">Level 4: Spiral of Doom</option>
          <option value="5">Level 5: A-mazing Grace</option>
          <option value="6">Level 6: Dire Straits</option>
          <option value="7">Level 7: Like, Totally Random...</option>
          <option value="8">Level 8: A Fork (or Two) in the Road</option>
          <option value="9">Level 9: Cascades</option>
          <option value="10">Level 10: Fields of Ma(i)ze</option>
          <option value="11">Level 11: It's a Mad World</option>
        </select>
      </div>

    </form>
  </div>


  <div id="difficulty">
    <form>
      <div>
        Select difficulty:
        <br/>
        <!--<select id="difficultyInput" name="difficultyInput" size="4">-->
          <!--<option value="1">Easy</option>-->
          <!--<option value="2" selected="selected">Medium</option>-->
          <!--<option value="3">Hard</option>-->
          <!--<option value="4">EXTREME</option>-->
        <!--</select>-->

        <div><input id="difficulty-input-1" class="difficultyInput" name="difficultyInput" type="radio" value="1">Easy</div>
        <div><input id="difficulty-input-2" class="difficultyInput" name="difficultyInput" type="radio" value="2" checked="checked">Medium</div>
        <div><input id="difficulty-input-3" class="difficultyInput" name="difficultyInput" type="radio" value="3">Hard</div>
        <div><input id="difficulty-input-4" class="difficultyInput" name="difficultyInput" type="radio" value="4">Extreme</div>



        
      </div>

    </form>
  </div>


    </div>
</div>


<script>
// Add event handlers when dialog is loaded
$(document).ready(function() {
    $('.thumbnail').click(FiercePlanet.GeneralUI.changePresetLevelDirectly);
    FiercePlanet.GeneralUI.highlightGalleryItem(FiercePlanet.currentLevelNumber);
//    $('#levelInput').change(FiercePlanet.changePresetLevel);

    $('#difficulty-input-' + FiercePlanet.levelOfDifficulty).attr('checked', 'checked');
    $(".difficultyInput").click(FiercePlanet.GeneralUI.changeDifficulty);
//    $('#difficultyInput').change(FiercePlanet.changeDifficulty);
});

</script>
