

<div id="level-features" style="display: none;">
  <div><a href="#" id="make-tile">Add Tile</a></div>
  <div><a href="#" id="remove-resource">Remove Resource</a></div>
  <div><a href="#" id="add-entry-point">Add Entry Point</a></div>
  <div><a href="#" id="remove-entry-point">Delete Entry Point</a></div>
  <div><a href="#" id="add-exit-point">Add Exit Point</a></div>
  <div><a href="#" id="remove-exit-point">Delete Exit Point</a></div>
</div>

<div id="level-editor" style="display: none;">

  <div><a href="#" id="refresh-tiles">Clear all</a></div>
  <div><a href="#" id="fill-all">Fill all</a></div>
  <div><a href="#" id="clear-entry-points">Clear Entry Points</a></div>
  <div><a href="#" id="clear-exit-points">Clear Exit Points</a></div>

  <div><a href="#" id="show-level-properties">Properties</a></div>
  <div><a href="#" id="undo-action">Undo (last action only)</a></div>
  <div><a href="#" id="cancel-level-editor">Close Editor</a></div>
  <div id="level-editor-form"></div>

  <div><a href="#" id="edit-map">Edit map</a></div>
  <div><a href="#" id="save-map">Save map</a></div>
  <div><a href="#" id="close-map">Close map</a></div>

</div>