<div id="level-features" style="display: none;">
  <div><a href="#" id="addAgentStartingPoint">Set Entry Point</a></div>
  <div><a href="#" id="addGoal">Set Goal</a></div>
  <div><a href="#" id="makeTile">Add Tile</a></div>
</div>

<div id="level-editor" style="display: none;">

  <div><a href="#" id="refreshTiles">Clear all</a></div>
  <div><a href="#" id="undoAction">Undo (last action only)</a></div>
  <div><a href="#" id="clearEntryPoints">Clear Entry Points</a></div>

  <div style="clear: both"><a href="#" id="cancelLevelEditor">Close Editor</a></div>
  <div><a href="#" id="showLevelProperties">Properties</a></div>
  <div id="level-editor-form"></div>
  
</div>