<div id="level-features" style="display: none;">
  <div><a href="#" id="addEntryPoint">Add Entry Point</a></div>
  <div><a href="#" id="removeEntryPoint">Delete Entry Point</a></div>
  <div><a href="#" id="addExitPoint">Add Exit Point</a></div>
  <div><a href="#" id="removeExitPoint">Delete Exit Point</a></div>
  <div><a href="#" id="makeTile">Add Tile</a></div>
</div>

<div id="level-editor" style="display: none;">

  <div><a href="#" id="refreshTiles">Clear all</a></div>
  <div><a href="#" id="fillAll">Fill all</a></div>
  <div><a href="#" id="undoAction">Undo (last action only)</a></div>
  <div><a href="#" id="clearEntryPoints">Clear Entry Points</a></div>
  <div><a href="#" id="clearExitPoints">Clear Exit Points</a></div>

  <div style="clear: both"><a href="#" id="cancelLevelEditor">Close Editor</a></div>
  <div><a href="#" id="showLevelProperties">Properties</a></div>
  <div id="level-editor-form"></div>
  
</div>