<div id="global-info-panel">
  <div style="width: 25%;; float: left; color: green">
    Resource Levels: <span id="goodness-display">100</span>
  </div>
  <div style="width: 25%;; float: left">
    Waves: <span id="waves-display">1 out of 20</span>
  </div>
  <div style="width: 25%; float: left">
    Score: <span id="score-display">0</span>
  </div>
  <div style="width: 25%; float: left">
    Level: <span id="level-display">1</span>
  </div>

  <div style="clear:both; width: 25%;; float: left; color: red">
    Expired: <span id="expired-display">0</span>
  </div>
  <div style="width: 25%; float: left">
    Saved: <span id="saved-display">0</span>
  </div>
  <div style="width: 25%; float: left">
    Highest Score: <span id="highest-score-display">0</span>
  </div>
  <div style="width: 25%; float: left">
    Profile Class: <span id="profile-class-display"></span>
  </div>


</div>
