<div id="swatch">
  <div>
  <div>
    <div class="title">
      <div>ECONOMIC CAPABILITIES</div>
    </div>
    <div class="eco" id="farm" title="Farm (Cost: 10; PAY: 20)">
      <a href="#"><img src="/images/farm.gif" title="Farm (Cost: 10; PAY: 20)"></a>
    </div>
    <div class="eco" id="shop" title="Shop (Cost: 15; PAY: 30)" style="display: none">
      <a href="#"><img src="/images/shop.gif" title="Shop (Cost: 15; PAY: 30)"></a>
    </div>
    <div class="eco" id="bank" title="Bank (Cost: 20; PAY: 50)" style="display: none">
      <a href="#"><img src="/images/bank.gif" title="Bank (Cost: 20; PAY: 50)"></a>
    </div>
    <div class="eco" id="factory" title="Factory (Cost: 25; PAY: 70)" style="display: none">
      <a href="#"><img src="/images/factory.gif" title="Factory (Cost: 25; PAY: 70)"></a>
    </div>
    <div class="eco" id="stockmarket" title="Stockmarket (Cost: 30; PAY: 90)" style="display: none">
      <a href="#"><img src="/images/stockmarket.gif" title="Stockmarket (Cost: 30; PAY: 90)"></a>
    </div>
  </div>
  <div>
    <div class="title">
      <div>ENVIRONMENTAL CAPABILITIES</div>
    </div>
    <div class="env" id="water" title="Fresh Water (Cost: 10; PAY: 10)">
      <a href="#"><img src="/images/water.gif" title="Fresh Water (Cost: 10; PAY: 10)"></a>
    </div>
    <div class="env" id="park" title="Wildlife Park (Cost: 15; PAY: 15)" style="display: none">
      <a href="#"><img src="/images/park.gif" title="Wildlife Park (Cost: 15; PAY: 15)"></a>
    </div>
    <div class="env" id="air" title="Clean Air (Cost: 20; PAY: 25)" style="display: none">
      <a href="#"><img src="/images/air.gif" title="Clean Air (Cost: 20; PAY: 25)"></a>
    </div>
    <div class="env" id="renewable-energy" title="Green Energy (Cost: 25; PAY: 35)" style="display: none">
      <a href="#"><img src="/images/energy.gif" title="Green Energy (Cost: 25; PAY: 35)"></a>
    </div>
    <div class="env" id="biodiversity" title="Cost: 30; PAY: 45" style="display: none">
      <a href="#"><img src="/images/biodiversity.gif" title="Biodiversity (Cost: 30; PAY: 45)"></a>
    </div>
  </div>
  <div>
    <div class="title">
      <div>SOCIAL CAPABILITIES</div>
    </div>
    <div class="soc" id="clinic" title="Cost: 10; PAY: 5">
      <a href="#"><img src="/images/clinic.gif" title="Clinic (Cost: 10; PAY: 5)"></a>
    </div>
    <div class="soc" id="school" title="Cost: 15; PAY: 8" style="display: none">
      <a href="#"><img src="/images/school.gif" title="School (Cost: 15; PAY: 8)"></a>
    </div>
    <div class="soc" id="legal" title="Cost: 20; PAY: 15" style="display: none">
      <a href="#"><img src="/images/legal.gif" title="Legal System (Cost: 20; PAY: 15)"></a>
    </div>
    <div class="soc" id="democracy" title="Cost: 25; PAY: 20" style="display: none">
      <a href="#"><img src="/images/democracy.gif" title="Democracy (Cost: 25; PAY: 20)"></a>
    </div>
    <div class="soc" id="festival" title="Cost: 30; PAY: 25" style="display: none">
      <a href="#"><img src="/images/festival.gif" title="Festival (Cost: 30; PAY: 25)"></a>
    </div>
  </div>
  </div>
</div>