<!-- Should only be visible when NOT in design mode -->
<div id="swatch">

  <!-- TODO: Generate automatically -->
    <div class="swatch-category" id="swatch_economic">
        <div class="title">Economic</div>
        <div class="swatch-instance" id="farm" title="Farm (Cost: 10; PAY: 20)"> <a href="#"><img src="/images/farm.gif" title="Farm (Cost: 10; PAY: 20)"> 10 </a> </div>
        <div class="swatch-instance inactive" id="shop" title="Shop (Cost: 15; PAY: 30)"> <a href="#"><img src="/images/shop.gif" title="Shop (Cost: 15; PAY: 30)"> 15 </a> </div>
        <div class="swatch-instance inactive" id="bank" title="Bank (Cost: 20; PAY: 50)"> <a href="#"><img src="/images/bank.gif" title="Bank (Cost: 20; PAY: 50)"> 20 </a> </div>
        <div class="swatch-instance inactive" id="factory" title="Factory (Cost: 25; PAY: 70)"> <a href="#"><img src="/images/factory.gif" title="Factory (Cost: 25; PAY: 70)"> 25 </a> </div>
        <div class="swatch-instance inactive" id="stockmarket" title="Stockmarket (Cost: 30; PAY: 90)"> <a href="#"><img src="/images/stockmarket.gif" title="Stockmarket (Cost: 30; PAY: 90)"> 30 </a> </div>
    </div>
    <div class="swatch-category" id="swatch_environmental">
        <div class="title">Environmental</div>
        <div class="swatch-instance" id="water" title="Fresh Water (Cost: 10; PAY: 10)"> <a href="#"><img src="/images/water.gif" title="Fresh Water (Cost: 10; PAY: 10)"> 10 </a> </div>
        <div class="swatch-instance inactive" id="park" title="Wildlife Park (Cost: 15; PAY: 15)"> <a href="#"><img src="/images/park.gif" title="Wildlife Park (Cost: 15; PAY: 15)"> 15 </a> </div>
        <div class="swatch-instance inactive" id="air" title="Clean Air (Cost: 20; PAY: 25)"> <a href="#"><img src="/images/air.gif" title="Clean Air (Cost: 20; PAY: 25)"> 20 </a> </div>
        <div class="swatch-instance inactive" id="energy" title="Green Energy (Cost: 25; PAY: 35)"> <a href="#"><img src="/images/energy.gif" title="Green Energy (Cost: 25; PAY: 35)"> 25</a> </div>
        <div class="swatch-instance inactive" id="biodiversity" title="Cost: 30; PAY: 45"> <a href="#"><img src="/images/biodiversity.gif" title="Biodiversity (Cost: 30; PAY: 45)"> 30 </a> </div>
    </div>
    <div class="swatch-category" id="swatch_social">
        <div class="title">Social</div>
        <div class="swatch-instance" id="clinic" title="Cost: 10; PAY: 5"> <a href="#"><img src="/images/clinic.gif" title="Clinic (Cost: 10; PAY: 5)"> 10 </a> </div>
        <div class="swatch-instance inactive" id="school" title="Cost: 15; PAY: 8"> <a href="#"><img src="/images/school.gif" title="School (Cost: 15; PAY: 8)"> 15 </a> </div>
        <div class="swatch-instance inactive" id="legal" title="Cost: 20; PAY: 15"> <a href="#"><img src="/images/legal.gif" title="Legal System (Cost: 20; PAY: 15)"> 20 </a> </div>
        <div class="swatch-instance inactive" id="democracy" title="Cost: 25; PAY: 20"> <a href="#"><img src="/images/democracy.gif" title="Democracy (Cost: 25; PAY: 20)"> 25 </a> </div>
        <div class="swatch-instance inactive" id="festival" title="Cost: 30; PAY: 25"> <a href="#"><img src="/images/festival.gif" title="Festival (Cost: 30; PAY: 25)"> 30 </a> </div>
    </div>
</div>

