<div id="swatch">
  <div>
    <div>Economic</div>
    <div class="eco" id="farm" title="Cost: 10; PAY: 20">
      <a href="#">Farm</a>
    </div>
    <div class="eco" id="shop" title="Cost: 15; PAY: 30" style="display: none">
      <a href="#">Shop</a>
    </div>
    <div class="eco" id="bank" title="Cost: 20; PAY: 50" style="display: none">
      <a href="#">Bank</a>
    </div>
    <div class="eco" id="factory" title="Cost: 25; PAY: 70" style="display: none">
      <a href="#">Factory</a>
    </div>
    <div class="eco" id="stockmarket" title="Cost: 30; PAY: 90" style="display: none">
      <a href="#">Stockmarket</a>
    </div>
  </div>
  <div>
    <div>Environmental</div>
    <div class="env" id="water" title="Cost: 10; PAY: 10">
      <a href="#">Fresh Water</a>
    </div>
    <div class="env" id="sanctuary" title="Cost: 15; PAY: 15" style="display: none">
      <a href="#">Wildlife Park</a>
    </div>
    <div class="env" id="air" title="Cost: 20; PAY: 25" style="display: none">
      <a href="#">Clean Air</a>
    </div>
    <div class="env" id="renewable-energy" title="Cost: 25; PAY: 35" style="display: none">
      <a href="#">Green Energy</a>
    </div>
    <div class="env" id="biodiversity" title="Cost: 30; PAY: 45" style="display: none">
      <a href="#">Biodiversity</a>
    </div>
  </div>
  <div>
    <div>Social</div>
    <div class="soc" id="clinic" title="Cost: 10; PAY: 5">
      <a href="#">Clinic</a>
    </div>
    <div class="soc" id="school" title="Cost: 15; PAY: 8" style="display: none">
      <a href="#">School</a>
    </div>
    <div class="soc" id="legal-system" title="Cost: 20; PAY: 15" style="display: none">
      <a href="#">Legal System</a>
    </div>
    <div class="soc" id="democracy" title="Cost: 25; PAY: 20" style="display: none">
      <a href="#">Democracy</a>
    </div>
    <div class="soc" id="festival" title="Cost: 30; PAY: 25" style="display: none">
      <a href="#">Festival</a>
    </div>
  </div>
</div>