    <header>
        <!--Heading-->
    </header>


    <div id="left-pane">
      <p></p>
    </div>
    <div id="content-pane">
      <div id="main-panel">
        <%= render "score_board" %>

        <div id="gameworld">
          <div id="world">
            <canvas id="c1" width="401" height="401" style="z-index: 1;">A Canvas</canvas>
            <canvas id="c2" width="401" height="401" style="z-index: 2;">A Canvas</canvas>
            <canvas id="c3" width="401" height="401" style="z-index: 3;">A Canvas</canvas>
            <canvas id="c4" width="401" height="401" style="z-index: 4;">A Canvas</canvas>
          </div>


        </div>
        <div id="info">
          <div id="level-info">
          </div>
          <div id="global-info">
          </div>
        </div>
        <div id="swatch">
            <div id="eco"><a href="#">Economic <br/><small>(Cost: 10; PAY: 20)</small></a></div>
            <div id="env"><a href="#" >Environmental<br/><small>(Cost: 10; PAY: 10)</small></a></div>
            <div id="soc"><a href="#" >Social<br/><small>(Cost: 10; PAY: 5)</small></a></div>
        </div>
        <div id="delete-upgrade" style="display: none;">
          <div><a href="#" id="del" onclick="deleteCurrentPatch();">Delete <br/><small>(Revenue: 5)</small></a></div>
          <div><a href="#" id="upg" onclick="upgradeCurrentPatch();">Upgrade <br/><small>(Cost: 20; PAY: 20)</small></a></div>
          <div><a href="#" id="cancel" onclick="document.getElementById('delete-upgrade').style.display = 'none'; document.getElementById('swatch').style.display = 'block'">Cancel</a></div>
        </div>
        <div id="level-features" style="display: none;">
          <div><a href="#" id="makeTile" onclick="makeTile();" >Add Tile</a></div>
          <div><a href="#" id="addGoal" onclick="addGoal(); ">Set Goal</a></div>
          <div><a href="#" id="addAgentStartingPoint" onclick="addAgentStartingPoint(); ">Set Entry Point</a></div>
        </div>
        <div id="level-editor" style="display: none;">
          <div><a href="#" id="levelProperties" onclick="showLevelProperties();">Properties</a></div>
          <div><a href="#" id="refreshTiles" onclick="currentLevel.setTiles(fillWithTiles()); redrawWorld();">Clear all</a></div>
          <div><a href="#" id="undo" onclick="undoAction();">Undo (last action only)</a></div>
          <div style="clear: both"><a href="#" id="cancelLevelEditor" onclick="cancelLevelEditor();">Cancel</a></div>

          <div id="level-editor-form"></div>
        </div>


        <%= render "control_panel" %>
      </div>

    </div>
    <div id="right-pane">
      <p></p>
    </div>



    <div id="level-list">
    </div>