    <header>
        <!--Heading-->
    </header>

    <div id="left-pane">
      <p></p>
    </div>
    <div id="content-pane">
      <div id="main-panel">
        <div id="global-info-panel">
          <div style="width: 50%; float: left">
            Level: <span id="level-display">1</span>
          </div>
          <div style="width: 50%; float: left">
            Score: <span id="score-display">0</span>
          </div>
        </div>
        <div id="level-info-panel">
          <div style="width: 25%;; float: left">
            Saved: <span id="saved-display">0</span>
          </div>
          <div style="width: 25%;; float: left">
            Expired: <span id="dead-display">0</span>
          </div>
          <div style="width: 25%;; float: left">
            Waves: <span id="waves-display">1 out of 30</span>
          </div>
          <div style="width: 25%;; float: left">
            Goodness: <span id="goodness-display">100</span>
          </div>
        </div>
        <div id="gameworld">
          <div id="world">
            <canvas id="c1" width="401" height="401" style="z-index: 1;">A Canvas</canvas>
            <canvas id="c2" width="401" height="401" style="z-index: 2;">A Canvas</canvas>
            <canvas id="c3" width="401" height="401" style="z-index: 3;">A Canvas</canvas>
            <canvas id="c4" width="401" height="401" style="z-index: 4;">A Canvas</canvas>
          </div>

            <div id="swatch">
              <ul>
                <li><a href="#" id="eco">Economic Good <br/><small>(Cost: 10; PAY: 20)</small></a></li>
                <li><a href="#" id="env">Environmental Good <br/><small>(Cost: 10; PAY: 10)</small></a></li>
                <li><a href="#" id="soc">Social Good <br/><small>(Cost: 10; PAY: 5)</small></a></li>
              </ul>
              <div id="delete-upgrade" style="display: none;">
                  <p><a href="#" id="del" onclick="deleteCurrentPatch();">Delete <br/><small>(Revenue: 5)</small></a></p>
                  <p><a href="#" id="upg" onclick="upgradeCurrentPatch();">Upgrade <br/><small>(Cost: 20; PAY: 20)</small></a></p>
                  <p><a href="#" id="cancel" onclick="document.getElementById('delete-upgrade').style.display = 'none'">Cancel</a></p>
              </div>
              <%= javascript_include_tag "agents/world_canvas_handler" %>
            </div>
            <div id="instructions">
              <div id="global-instructions">
                <h2>Instructions</h2>
              </div>
              <div id="level-instructions">
                <h2>Instructions</h2>
              </div>
            </div>

        </div>
        <div id="controls">
          <br/>
          Level:
          <select id="levelInput" name="levelInput">
            <option value="1" selected="selected">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
          <br/>
          Difficulty:
            <select id="difficultyInput" name="difficultyInput">
              <option value="1">Easy</option>
              <option value="2" selected="selected">Medium</option>
              <option value="3">Hard</option>
              <option value="4">EXTREME</option>
            </select>
          <br/>
          Speed: [Slow] <input id="intervalInput" name="intervalInput" type="range" min="10" max="100" value="50" step="10" onchange="resetSpeed()" /> [Fast]
          <br/>
          God mode: <input id="godModeInput" name="intervalInput" type="checkbox" />
          <br/>

          <button id="startAgents" onclick="startAgents();">Start</button>
          <button id="stopAgents" onclick="stopAgents();">Stop</button>
          <button id="resetWorld" onclick="resetWorld();">Restart</button>
          <button id="fullResetWorld" onclick="fullResetWorld();">Reset</button>
          <script type="text/javascript">
              drawGrid();
              drawTiles();
              drawGoal();
              drawPatches();
          </script>
          <button id="cells" onclick="processAgents();">Debug</button>
        </div>

      </div>

    </div>
    <div id="right-pane">
      <p></p>
    </div>
