    <header>
        <!--Heading-->
    </header>

    <div id="left-pane">
      <p></p>
    </div>
    <div id="content-pane">
      <div id="main-panel">
        <div id="global-info-panel">
          <div style="width: 25%;; float: left">
            Waves: <span id="waves-display">1 out of 20</span>
          </div>
          <div style="width: 25%;; float: left">
            Resource Store: <span id="goodness-display">100</span>
          </div>
          <div style="width: 25%; float: left">
            Score: <span id="score-display">0</span>
          </div>
          <div style="width: 25%; float: left">
            Level: <span id="level-display">1</span>
          </div>

          <div style="clear:both; width: 25%;; float: left">
            Saved: <span id="saved-display">0</span>
          </div>
          <div style="width: 25%;; float: left">
            Expired: <span id="dead-display">0</span>
          </div>
          <div style="width: 25%; float: left">
            Highest Score: <span id="highest-score-display">0</span>
          </div>
          <div style="width: 25%; float: left">
            Highest Level: <span id="highest-level-display">0</span>
          </div>
        </div>

        <div id="gameworld">
          <div id="world">
            <canvas id="c1" width="401" height="401" style="z-index: 1;">A Canvas</canvas>
            <canvas id="c2" width="401" height="401" style="z-index: 2;">A Canvas</canvas>
            <canvas id="c3" width="401" height="401" style="z-index: 3;">A Canvas</canvas>
            <canvas id="c4" width="401" height="401" style="z-index: 4;">A Canvas</canvas>
          </div>


        </div>
        <div id="info">
          <div id="level-info">
          </div>
          <div id="global-info">
          </div>
        </div>
        <div id="swatch">
            <div id="eco"><a href="#">Economic <br/><small>(Cost: 10; PAY: 20)</small></a></div>
            <div id="env"><a href="#" >Environmental<br/><small>(Cost: 10; PAY: 10)</small></a></div>
            <div id="soc"><a href="#" >Social<br/><small>(Cost: 10; PAY: 5)</small></a></div>
        </div>
        <div id="delete-upgrade" style="display: none;">
          <div><a href="#" id="del" onclick="deleteCurrentPatch();">Delete <br/><small>(Revenue: 5)</small></a></div>
          <div><a href="#" id="upg" onclick="upgradeCurrentPatch();">Upgrade <br/><small>(Cost: 20; PAY: 20)</small></a></div>
          <div><a href="#" id="cancel" onclick="document.getElementById('delete-upgrade').style.display = 'none'; document.getElementById('swatch').style.display = 'block'">Cancel</a></div>
        </div>
        <%= javascript_include_tag "agents/game_canvas_handler" %>

        <div id="controls">
          <h3>Control Panel</h3>
          <br/>
          Level:
          <select id="levelInput" name="levelInput">
            <option value="1" selected="selected">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
          <br/>
          Difficulty:
            <select id="difficultyInput" name="difficultyInput">
              <option value="1">Easy</option>
              <option value="2" selected="selected">Medium</option>
              <option value="3">Hard</option>
              <option value="4">EXTREME</option>
            </select>
          <br/>
          Speed:
          <br/>
          <input id="intervalInput" name="intervalInput" type="range" min="10" max="100" value="50" step="10" onchange="resetSpeed()" />
          <br/>
          God mode: <input id="godModeInput" name="intervalInput" type="checkbox" />
          <br/>

          <button id="startAgents" onclick="startAgents();">Start</button>
          <br/>
          <button id="stopAgents" onclick="stopAgents();">Pause</button>
          <br/>
          <button id="resetWorld" onclick="restartLevel();">Restart/Go to Level</button>
          <br/>
          <button id="fullResetWorld" onclick="newGame();">New Game</button>
          <br/>
          <script type="text/javascript">
              reloadGame();
          </script>
          <button id="cells" onclick="processAgents();">Debug</button>
          <br/>
          <button id="levelEditor" onclick="showLevelEditor();">Make your own level</button>
          <br/>
        </div>

      </div>

    </div>
    <div id="right-pane">
      <p></p>
    </div>
