#left-pane {
    float: left;
    width:10%;
}
#content-pane {
    float: left;
    width:80%;
}
#right-pane {
    float: left;
    width:10%;
}
#main-panel {
    position:relative;
}
#global-info-panel {
    height:20px;
    position:relative;
}
#level-info-panel {
    height:20px;
    position:relative;
}
#gameworld {
    margin-top: 20px;
    clear:both;
    position:relative;

}
#world {
    position:relative;
    float: left;
}

#swatch {
    clear: both;
    float: left;
    position:absolute;
    left:441px;
}

#info {
    clear: both;
    float: left;
    position:absolute;
    left:641px;
    margin-left: 20px;
}

#controls {
    margin-top: 20px;
        clear: both;
    position:absolute;
    left:0px;
    top:441px;
}

canvas {
    position:absolute;
}

#c1, #c2, #c3 {
  border: #ccc 3px solid;
}

#c1.over, #c2.over, #c3.over {
  border: #333 3px solid;
}

#c1.over, #c2.over, #c3.over {
  border: #333 3px solid;
}


li {
  list-style: none;
}
ul, li {
    margin: 0px;
    padding: 0px;
}
li a, #delete-upgrade p a {
  text-decoration: none;
  color: #000;
  margin: 10px;
  width: 150px;
  border: 3px dashed #999;
  padding: 10px;
  display: block;
}

li a#env {
  background: #00ff00;
}

li a#eco {
    background: #99ccff;
}

li a#soc {
    background: #ff3300;
}

*[draggable=true] {
  -moz-user-select:none;
  -khtml-user-drag: element;
  cursor: move;
}

*:-khtml-drag {
  background-color: rgba(238,238,238, 0.5);
}

li a:hover {
    border: #999 3px solid;
    background: #fff;
}
/*
li a:hover:after {
  content: ' (drag me)';
}
*/


li.over {
  border-color: #333;
  background: #ccc;
}

footer {
    clear: both;
    position:absolute;
    left:0px;
    top:621px;
}