html {
    background: #000;
}

#wrapper {
    background: #000;
    background-repeat: no-repeat;
    background-position: right;
    width: 800px;
}
#content-pane {
    left: 95px;
    top: -110px;
	position:relative;
	margin:0; padding:0;
	width:800px;
	height:510px;
}
