
body {
    background-color: #fff;
    color: #000;
}
#left-pane {
    float: left;
    width:10%;
}
#content-pane {
    float: left;
    width:80%;
}
#right-pane {
    float: left;
    width:10%;
}
#main-panel {
    position:relative;
}
#global-info-panel {
    height:40px;
    position:relative;
    background-color: #eee;
    border: #ccc 3px solid;
    padding: 4px;
}
#level-info-panel {
    position:relative;
}



#info {
    float: left;
    position:absolute;
    left:661px;
}
#gameworld {
    margin-top: 20px;
    clear:both;
    position:relative;

}
#world {
    position:absolute;
    left:200px;
    top:0px;
    float: left;
}


#controls {
    margin-top: 20px;
    clear: both;
    position:relative;
    left:0px;
    top:0px;
}

#swatch {
    margin-top: 20px;
        clear: both;
    position:absolute;
    left:200px;
    top:471px;
}


canvas {
    position:absolute;
}

#c1, #c2, #c3, #c4 {
  border: #ccc 3px solid;
}

#c1.over, #c2.over, #c3.over, #c4.over {
  border: #333 3px solid;
}


li {
  list-style: none;
}
ul, li {
    margin: 0px;
    padding: 0px;
}
#swatch div {
    float: left;
    position: relative;
}
#swatch div, #delete-upgrade p a {
  text-decoration: none;
  color: #000;
  width: 110px;
  border: 3px dashed #999;
  padding: 4px;
    margin-right: 10px;
}
#swatch div a, #delete-upgrade p a {
  color: #000;
  text-decoration: none;
}

#swatch div#env {
  background: #00ff00;
}

#swatch div#eco {
    background: #99ccff;
}

#swatch div#soc {
    background: #ff3300;
}

*[draggable=true] {
  -moz-user-select:none;
  -khtml-user-drag: element;
  cursor: move;
}

*:-khtml-drag {
  background-color: rgba(238,238,238, 0.5);
}

li a:hover {
    border: #999 3px solid;
    background: #fff;
}
/*
li a:hover:after {
  content: ' (drag me)';
}
*/


li.over {
  border-color: #333;
  background: #ccc;
}

footer {
    clear: both;
    position:absolute;
    left:0px;
    top:621px;
}

#info h2 {
    margin-top: 0px;
}