body {
	zoom = 100%;
	background: #000 url(../layout/stars.jpg) 50% 0%;
	color: #fff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding:0; margin:0;
}
.hide {
	display:none;
}
#content-pane {
	position:relative;
	margin:0 auto; padding:0;
	width:1200px;
	height:810px;
	background: url(../layout/backgound.jpg);
}
#main-panel {
}
#global-info-panel {
	position:absolute;
	padding-bottom: 20px;
}
#user-info {
	clear:both;
	float: right;
	position: relative;
	color: #add8e6;
	padding: 0;
	text-align: right
}
#info {
	position:absolute;
	width:400px; height:20px;
	top:67px;
	left:670px;
	text-align:right;
	color:#1F62C1;
}

/* map */
#gameworld {
	clear:both;
	position:relative;
}
#world {
	position:absolute;
	left:400px;
	top:110px;
	float: left;
	padding:7px;
	border-radius:4px;
	background:#1F62C1;
	display:block;
	width:480px; height:400px;
}
#notifications {
	font-size:24px;
	top:65px;
	left:400px;
	position:absolute;
	width: 480px;
	padding: 10px;
}
#level-name {
	font-size:18px;
}
#resourceLevels {
	position:absolute;
	left:910px;
	top:270px;
	width:170px;
	font-size:14px;
}
#highscore{
	position:absolute;
	left:900px;
	top:100px;
	width: 180px;
	text-align:right;
	color:#8FB0E0;
	font-size:10px;
}
#score {
	position:absolute;
	left:910px;
	top:115px;
	width: 170px;
	font-size:20px;
}
#score-display{
	float:right;
	padding:0 5px;
	background:#fff;
	border-radius:10px;
	display:block;
	font-family:"Courier New", Courier, monospace;
	letter-spacing:2px;
	color:#93C83E;
}
#level {
	color:#FFF;
	position:absolute;
	left:910px;
	top:160px;
	width: 180px;
}
#waves {
	color:#FFF;
	position:absolute;
	left:910px;
	top:180px;
	width: 180px;
}
#saved {
	color:#93C83E;
	position:absolute;
	left:910px;
	top:200px;
	width: 180px;
}
#expired {
	color:#DE1F2A;
	position:absolute;
	left:910px;
	top:220px;
	width: 180px;
}

/*controls*/
#controls {
	position:absolute;
	left:305px;
	top:185px;
	width:61px;
	padding:50px 10px 0;
	z-index:100;
	background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#1F62C1), to(#203275));
	background: -moz-linear-gradient(0% 100% 0deg,#1F62C1, #203275);
	border-radius:4px;
	line-height:24px;
	text-align:center;
}
#playAgents, #slowDown, #speedUp, #newGame, #restartLevel, #panUp, #panLeft, #panReset, #panRight, #panDown, #zoomOut, #zoomReset, #zoomIn{
	cursor:pointer;
}
#playAgents{
	background:url(../layout/play.png);
	width:101px; height:101px;
	position:absolute;
	top:-50px;
	left:-10px;
}
#slowDown{
	background:url(../layout/buttons.png) 0 0;
	width: 31px; height:20px;
	float:left;
}
#speedUp{
	background:url(../layout/buttons.png) 30px 0;
	width: 30px; height:20px;
	float:left;
}
#newGame{
	background:url(../layout/buttons.png) 0px -20px;
	width: 32px; height:36px;
	float:left;
}
#restartLevel{
	background:url(../layout/buttons.png) 32px -20px;
	width: 29px; height:36px;
	float:left;
}
#panUp{
	background:url(../layout/buttons.png) 0 -66px;
	width: 61px; height:16px;
	float:left;
}
#panLeft{
	background:url(../layout/buttons.png) 0 -82px;
	width: 17px; height:27px;
	float:left;
}
#panReset{
	background:url(../layout/buttons.png) -16px -82px;
	width: 26px; height:27px;
	float:left;
}
#panRight{
	background:url(../layout/buttons.png) -42px -82px;
	width: 17px; height:27px;
	float:left;
}
#panDown{
	background:url(../layout/buttons.png) 0 -109px;
	width: 61px; height:16px;
	float:left;
}
#zoomOut{
	background:url(../layout/buttons.png) 0 -140px;
	width: 20px; height:20px;
	float:left;
}
#zoomReset{
	background:url(../layout/buttons.png) -20px -140px;
	width: 21px; height:20px;
	float:left;
}
#zoomIn{
	background:url(../layout/buttons.png) -41px -140px;
	width: 20px; height:20px;
	float:left;
}
.divide{
	width:61px; height:10px;
	border-bottom: 2px solid #1F62C1;
	clear:both;
	margin-bottom:10px;
}

#swatch {
	position:absolute;
	left:910px;
	top: 292px;
	font-size:10px;
}
#level-editor {
	margin-top: 20px;
	clear: both;
	position:absolute;
	left:400px;
	top: 520px;
    background-color: #1F62C1;
    border-radius:4px;
    padding:4px;
}
#swatch > div, #gallery-items > div, #level-editor > div {
	float: left;
	position: relative;
	text-decoration: none;
	padding: 2px;
	margin-right: 10px;
}
#swatch img {
	border-radius:4px;
}
.eco, .env, .soc {
	width:27px;
	text-align:center;
}
.inactive {
	opacity:.4;
	cursor:pointer;
}
.title {
	font-weight:bold;
	border-bottom: 1px solid rgba(255, 255, 255, .6);
	margin-bottom:2px;
	padding: 1px 5px;
}
#swatch_economic, #swatch_environmental, #swatch_social{
	border-radius:4px;
	margin-bottom:10px;
}
#swatch_economic{
	background:#44ABE0;
}
#swatch_environmental{
	background:#CBDB2A;
	padding:5px;
}
#swatch_social{
	background:#DE1F2A;
	padding:5px;
}
#swatch div.eco, #gallery-items div.eco {
	float: left;
	border: solid 3px #44ABE0;
}
#swatch div.env, #gallery-items div.env {
	float: left;
	border: solid 3px #CBDB2A;
}
#swatch div.soc, #gallery-items div.soc {
	float: left;
	border: solid 3px #DE1F2A;
}
canvas {
	position:absolute;
}
#map_canvas {
	height: 400px;
	width: 480px;
	position: absolute;
	border: #fff 1px solid;
}
#c1, #c2, #c3, #c4 {
	border: #fff 1px solid;
}
#c1.over, #c2.over, #c3.over, #c4.over {
	border: #fff 1px solid;
}
a {
	color: #FFF;
	text-decoration:none;
}
li {
	list-style: none;
}
ul, li {
	margin: 0px;
	padding: 0px;
}
#gallery-items > div, #level-editor > div {
	width: 110px;
}

*[draggable=true] {
	-moz-user-select:none;
	-khtml-user-drag: element;
	cursor: move;
}
 *:-khtml-drag {
 background-color: rgba(238, 238, 238, 0.5);
}
li a:hover {
	border: #999 3px solid;
	background: #fff;
}
li.over {
	border-color: #333;
	background: #ccc;
}
#info h2 {
	margin-top: 0px;
}