
<div class="doc">

  <h3>FiercePlanet - Evaluation Questionnaire</h3>

  <form action="">

    <div>
      This questionnaire is being used to evaluate FiercePlanet, as part of a research project into sustainability and gaming.
      Your information will be treated anonymously.
      
    </div>

    <div>
      Please check the box below to indicate your consent for your evaluation and comments to be used for the purposes of research and possible publication.
      <input type="checkbox" name="consent">
    </div>

    <div>
      To protect confidentiality, this evaluation is not linked to the account you may have created to play FiercePlanet.
      However it may be helpful to use your account statistics to correlate with your evaluation.
      If you consent, please enter your login or nickname:
      <input type="text" name="account">
    </div>

    <div>
      How long did you play FiercePlanet?
      <input type="radio" name="playedAtLeast" value="0">Less than 5 minutes
      <input type="radio" name="playedAtLeast" value="5">Between 5 and 15 minutes
      <input type="radio" name="playedAtLeast" value="15">Between 15 and 30 minutes
      <input type="radio" name="playedAtLeast" value="30">Between 30 and 60 minutes
      <input type="radio" name="playedAtLeast" value="60">More than an hour
    </div>



  </form>

	<div>
	    Thinking and talking about sustainability is difficult.
	    Understanding what is and what should be "sustainable" involves a host of competing definitions, measurements and
	    interpretations.
	</div>

	<div>
	    Even when we can agree about the terms of reference, there are usually tensions between different aspects or
	    dimensions of the things we would like to sustain.
	    A common way of distinguishing between these aspects is referred to as the "Triple Bottom Line".
	    This approach is used by companies and organisations to report on their sustainability performance, but
	    it can also be used to think about cities, countries or even the planet.
	    The three "bottom lines" are Economic, Environmental and Social. 
	</div>

	<div>
		In a broad context, 
		economic performance measures things like productivity, stability, profitability, assets and liabilities, and cash flow.
		Environmental performance measures things like water, air, waste, energy and biodiversity.
		Social features include things like health, education, social cohesion, freedom, legal protection and cultural inclusion.
		In the long run, sustainability means performing well against <em>all</em> "bottom lines".
		In the short term, though, we are often faced with trade-offs between competing goals.
	</div>

	<div>
		To take a highly simplified example, 
		we can improve social well-being by spending money on hospitals, schools and cultural activities.
		To generate sufficient funds, though, we need profitable economic activity.
		And many forms of economic activity require use of natural resources, that in turn results in environmental waste,
		pollution and loss of natural habitats.
		Here our sustainability report would show:
		<ul>
			<li>Economic performance - <em>UP</em></li>
			<li>Social performance - <em>UP</em></li>
			<li>BUT: Environmental performance - <em>DOWN</em></li>
		</ul>
		Conversely, we can protect the environment by constraining economic development - but with substantial social impacts,
		at least in the short term.
	</div>
	
	<div>
		Determining the <em>extent</em> of these trade-offs in practice is very complex - 
		and determining ways of choosing the "least worst" option even more so.
		New scientific fields like <em>Ecological Economics</em> have emerged to study such questions in applied and 
		theoretical settings.
	</div>
	
	<div>
		But it can be helpful to explore these dilemmas through a simple, artificial model.
		As an example of such a model, FiercePlanet is a game that asks players to "plan" a more sustainable future
		for the fictitious citizens of a city, by choosing from a constrained set of resources.
		It is a "tower strategy" kind of game, where resources are placed along a path leading towards a goal.
		If enough resources are available, citizens survive as they move towards the goal; otherwise they expire.
	</div>
	
	<div>
		In its default setting, players simply have to select a balance of economic, environmental and social resources
		to ensure citizens survive, although they have a constrained number of such resources.
		Other settings allow players to test other scenarios, such as:
		<ul>
			<li>whether the resource "mix" matters at all;</li>
			<li>whether certain resources impact upon the effectiveness of other resources; </li>
			<li>whether the proximity of resources matters in terms of their impacts; </li>
			<li>whether the citizens can communicate with eachother; </li>
			<li>and what an appropriate balance of resources is.</li>
		</ul> 
	</div>
		
	<div>
		Aside from hopefully being a fun diversion, the broader aim of the game is to allow players to explore
		sustainability dilemmas, and to experiment with different planning strategies.
		The associated research exercise asks participants to play the game, and then complete a questionnaire.
		The questionnaire evaluates the game in terms of:
		<ul>
			<li>Game play</li>
            <li>Game scenarios</li>
			<li>Education value</li>
		</ul>
	</div>

	<div>
	    	
		<ul>
			<li>Game play</li>
            <li>Game scenarios</li>
			<li>Education value</li>
		</ul>
	</div>
</div>
