<div class="doc">

  <h3>FiercePlanet - Evaluation Questionnaire</h3>

  <form action="">

    <div>
      This questionnaire is being used to evaluate FiercePlanet, as part of a research project into sustainability and
      gaming.
      Your information will be treated anonymously.

    </div>

    <div>
      Please check the box below to indicate your consent for your evaluation and comments to be used for the purposes
      of research and possible publication.
      <input type="checkbox" name="consent">
    </div>

    <div>
      To protect confidentiality, this evaluation is not linked to the account you may have created to play
      FiercePlanet.
      However it may be helpful to use your account statistics to correlate with your evaluation.
      If you consent, please enter your login or nickname:
      <br>
      <input type="text" name="account">
    </div>

    <div>
      How long did you play FiercePlanet?
      <div id="name">
        <input type="radio" name="playedAtLeast" value="0">Less than 5 minutes
      </div>
      <div>
        <input type="radio" name="playedAtLeast" value="5">Between 5 and 15 minutes

      </div>
      <div>
        <input type="radio" name="playedAtLeast" value="15">Between 15 and 30 minutes

      </div>
      <div>
        <input type="radio" name="playedAtLeast" value="30">Between 30 and 60 minutes

      </div>
      <div>
        <input type="radio" name="playedAtLeast" value="60">More than an hour

      </div>
    </div>

    <div>
      What level did you play up to?
      <div id="maxLevel">
        <select name="maxLevel">
          <option value="1">Level 1: Welcome to Fierce Planet!</option>
          <option value="2">Level 2: Twists and Turns</option>
          <option value="3">Level 3: Waves of Uncertainty</option>
          <option value="4">Level 4: Spiral of Doom</option>
          <option value="5">Level 5: A-mazing Grace</option>
          <option value="6">Level 6: Dire Straits</option>
          <option value="7">Level 7: Like, Totally Random...</option>
          <option value="8">Level 8: A Fork (or Two) in the Road</option>
          <option value="9">Level 9: Cascades</option>
          <option value="10">Level 10: Fields of Ma(i)ze</option>
          <option value="11">Level 11: It's a Mad World</option>
          
        </select>
      </div>
    </div>

    <hr>

    <div>
      <h3>Gameplay</h3>

      <div>
        <div>It is easy to understand how to play the game.</div>
        <div><input name="easyToUnderstand" value="1" type="radio">Strongly disagree</div>
        <div><input name="easyToUnderstand" value="2" type="radio">Disagree</div>
        <div><input name="easyToUnderstand" value="3" type="radio">Neither agree nor disagree</div>
        <div><input name="easyToUnderstand" value="4" type="radio">Agree</div>
        <div><input name="easyToUnderstand" value="5" type="radio">Strongly agree</div>
      </div>

      <div>
        <div>The game is fun to play.</div>
        <div><input name="funToPlay" value="1" type="radio">Strongly disagree</div>
        <div><input name="funToPlay" value="2" type="radio">Disagree</div>
        <div><input name="funToPlay" value="3" type="radio">Neither agree nor disagree</div>
        <div><input name="funToPlay" value="4" type="radio">Agree</div>
        <div><input name="funToPlay" value="5" type="radio">Strongly agree</div>
      </div>

      <div>
        <div>The game is challenging to play.</div>
        <div><input name="challengingToPlay" value="1" type="radio">Strongly disagree</div>
        <div><input name="challengingToPlay" value="2" type="radio">Disagree</div>
        <div><input name="challengingToPlay" value="3" type="radio">Neither agree nor disagree</div>
        <div><input name="challengingToPlay" value="4" type="radio">Agree</div>
        <div><input name="challengingToPlay" value="5" type="radio">Strongly agree</div>
      </div>
    </div>

    <hr>
    <div>
      <h3>Thinking about sustainability</h3>
      <div>
        <div>Overall, the game is useful in thinking about the challenges of sustainability. </div>
        <div><input name="usefulInThinkingAboutSustainability" value="1" type="radio">Strongly disagree</div>
        <div><input name="usefulInThinkingAboutSustainability" value="2" type="radio">Disagree</div>
        <div><input name="usefulInThinkingAboutSustainability" value="3" type="radio">Neither agree nor disagree</div>
        <div><input name="usefulInThinkingAboutSustainability" value="4" type="radio">Agree</div>
        <div><input name="usefulInThinkingAboutSustainability" value="5" type="radio">Strongly agree</div>
      </div>

      <div>
        <div>Using different kinds of resources is a good way to consider conflicting sustainability goals.</div>
        <div><input name="usefulForThinkingAboutConflictingGoals" value="1" type="radio">Strongly disagree</div>
        <div><input name="usefulForThinkingAboutConflictingGoals" value="2" type="radio">Disagree</div>
        <div><input name="usefulForThinkingAboutConflictingGoals" value="3" type="radio">Neither agree nor disagree</div>
        <div><input name="usefulForThinkingAboutConflictingGoals" value="4" type="radio">Agree</div>
        <div><input name="usefulForThinkingAboutConflictingGoals" value="5" type="radio">Strongly agree</div>
      </div>

      <div>
        <div>In its default setting, the game gives more benefit to citizens when a <em>balance</em>
            of different economic, environmental and social resources are used.
          This is a realistic approximation to how to make a city sustainable in the real world.
        </div>
        <div><input name="balanceIsRealistic" value="1" type="radio">Strongly disagree</div>
        <div><input name="balanceIsRealistic" value="2" type="radio">Disagree</div>
        <div><input name="balanceIsRealistic" value="3" type="radio">Neither agree nor disagree</div>
        <div><input name="balanceIsRealistic" value="4" type="radio">Agree</div>
        <div><input name="balanceIsRealistic" value="5" type="radio">Strongly agree</div>
      </div>


      <div>
        <div>In its default setting, when resources are used in the game,
          they have no direct impact on other neighbouring resources.
          It is possible (via the 'Settings' option) to play the game so that:
          <ul>
            <li>Economic resources impact very negatively on environmental resources, and somewhat negatively on social resources.</li>
            <li>Environmental resources impact very positively on economic resources, and somewhat positively on social resources.</li>
            <li>Social resources impact positively on economic resources, and somewhat negatively on environmental resources.</li>
          </ul>

          If you play with this option enabled, please answer:
        </div>

        <div>
              Playing with this option set helps understand the challenges of sustainability.
        </div>


        <div><input name="neighbouringResourceImpactsHelpsUnderstanding" value="1" type="radio">Strongly disagree</div>
        <div><input name="neighbouringResourceImpactsHelpsUnderstanding" value="2" type="radio">Disagree</div>
        <div><input name="neighbouringResourceImpactsHelpsUnderstanding" value="3" type="radio">Neither agree nor disagree</div>
        <div><input name="neighbouringResourceImpactsHelpsUnderstanding" value="4" type="radio">Agree</div>
        <div><input name="neighbouringResourceImpactsHelpsUnderstanding" value="5" type="radio">Strongly agree</div>

        <div>
          This set of relationships does <strong>not</strong> capture the tensions between
          the use of different kinds of resources.
        </div>

        <div><input name="neighbouringResourceNotCaptureTensions" value="1" type="radio">Strongly disagree</div>
        <div><input name="neighbouringResourceNotCaptureTensions" value="2" type="radio">Disagree</div>
        <div><input name="neighbouringResourceNotCaptureTensions" value="3" type="radio">Neither agree nor disagree</div>
        <div><input name="neighbouringResourceNotCaptureTensions" value="4" type="radio">Agree</div>
        <div><input name="neighbouringResourceNotCaptureTensions" value="5" type="radio">Strongly agree</div>

        <div>
          Is there a better way relationships between different resources could be represented?
          <textarea name="otherRelationships" id="otherRelationships" cols="60"  rows="10"></textarea>
        </div>
      </div>

      <div>
        <div>
          In its default setting, the game allows citizens to communicate information to eachother.
          Without this option, the citizens cannot share information and co-operate.
          This setting can also be changed under the 'Settings' option.
          If you have played with this option unchecked, please answer:
        </div>
        <div>
          Preventing citizens from communicating makes no difference in how I played the game.
        </div>
        <div><input name="agentCommunicationUnimportant" value="1" type="radio">Strongly disagree</div>
        <div><input name="agentCommunicationUnimportant" value="2" type="radio">Disagree</div>
        <div><input name="agentCommunicationUnimportant" value="3" type="radio">Neither agree nor disagree</div>
        <div><input name="agentCommunicationUnimportant" value="4" type="radio">Agree</div>
        <div><input name="agentCommunicationUnimportant" value="5" type="radio">Strongly agree</div>

      </div>

    </div>

    <hr>
    <div>
      <h3>Educational value</h3>

      <div>
        <div>The game would be a good educational resource for children to learn about sustainability.</div>
        <div><input name="goodEducationalResource" value="1" type="radio">Strongly disagree</div>
        <div><input name="goodEducationalResource" value="2" type="radio">Disagree</div>
        <div><input name="goodEducationalResource" value="3" type="radio">Neither agree nor disagree</div>
        <div><input name="goodEducationalResource" value="4" type="radio">Agree</div>
        <div><input name="goodEducationalResource" value="5" type="radio">Strongly agree</div>

        <div>
          <div>How could the game be improved in an educational setting?</div>
          <div>
            <textarea name="educationalImprovements" id="educationalImprovements" cols="60"  rows="10"></textarea>
          </div>
        </div>
      </div>


      <div>
        <div>The game would be helpful for adults in a community or workplace setting
          to consider and discuss sustainability challenges.</div>
        <div><input name="goodWorkplaceResource" value="1" type="radio">Strongly disagree</div>
        <div><input name="goodWorkplaceResource" value="2" type="radio">Disagree</div>
        <div><input name="goodWorkplaceResource" value="3" type="radio">Neither agree nor disagree</div>
        <div><input name="goodWorkplaceResource" value="4" type="radio">Agree</div>
        <div><input name="goodWorkplaceResource" value="5" type="radio">Strongly agree</div>

        <div>
          <div>How could the game be improved for use in a community or workplace setting?</div>
          <div>
            <textarea name="workplaceImprovements" id="workplaceImprovements" cols="60"  rows="10"></textarea>
          </div>
        </div>

        <div>
          It is possible to create new levels in the game.
          This would be useful for building simple models of particular cities or regions.
        </div>

        <div><input name="levelEditorUseful" value="1" type="radio">Strongly disagree</div>
        <div><input name="levelEditorUseful" value="2" type="radio">Disagree</div>
        <div><input name="levelEditorUseful" value="3" type="radio">Neither agree nor disagree</div>
        <div><input name="levelEditorUseful" value="4" type="radio">Agree</div>
        <div><input name="levelEditorUseful" value="5" type="radio">Strongly agree</div>
      </div>
    </div>

    <hr>

    <div>
      <h3>Additional features</h3>

      <div>Which of the following features would you like to see in future versions?
        <ul>
          <li><input type="checkbox" name="features-multiplayer">Playing with or against other players</li>
          <li><input type="checkbox" name="features-chat">Support for chat with other players</li>
          <li><input type="checkbox" name="features-levels">More levels</li>
          <li><input type="checkbox" name="features-quests">Quests and achievements</li>
          <li><input type="checkbox" name="features-graphics">More engaging graphics</li>
          <li><input type="checkbox" name="features-help">More help and documentation</li>
          <li><input type="checkbox" name="features-updates">Regular updates via a blog</li>
          <li><input type="checkbox" name="features-configuration">More configuration options for modelling dynamics of sustainability</li>
          <li><input type="checkbox" name="features-realism">More "realistic" citizens - who conflict as well as co-operate</li>
          <li><input type="checkbox" name="features-mobile">Compatibility with mobile devices</li>
          <li><input type="checkbox" name="features-social">Compatibility with social media (FaceBook, Twitter)</li>
          <li><input type="checkbox" name="features-level-editor">Greater ability to develop and share levels</li>
        </ul>
      </div>

      <hr>
      <div>
        Final comments
        <br>
        <textarea name="furtherComments" id="furtherComments" cols="60"  rows="10"></textarea>
      </div>

      <div>
        <input type="submit">
      </div>
    </div>
  </form>
</div>
