<h3>Level Editor</h3>


<% link_to new_level_path, :remote => true do %>
    Make a new level
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>

  <% @levels.each do |level| %>
      <tr>
        <td><%= level.name %></td>
        <td>
          <% link_to edit_level_path(level), :remote => true do %>
            Edit
            <% end %>
        </td>
        <td>
          <% link_to level, :confirm => 'Are you sure?', :method => :delete, :remote => true do  %>
            Delete
          <% end %>
        </td>
      </tr>
  <% end %>
</table>
