
// If we are editing a level, cancel the level editor
FiercePlanet.cancelLevelEditor();

// Notify
$('#notifications').html("<p>Opening level gallery</p>");

// Construct and show the level gallery
FiercePlanet.$levelList = $('<div></div>')
        .html("<%=  escape_javascript(render('levels/gallery', :locals => { :levels => @levels})) %>")
        .dialog({
                                              position: [FiercePlanet.calculateWorldLeft(), 110],
                                              width: 487,
                                              height: 407,
                    autoOpen: false,
                    modal: true,
                    title: 'Level Setup',
                    buttons: {
                        "OK": function() {
                            FiercePlanet.newLevel();
                            $(this).dialog("close");
                        },
                        "Cancel": function() {
                            $(this).dialog("close");
                        }

                    }

                });
FiercePlanet.$levelList.dialog('open');


FiercePlanet.changePresetLevel =  function() {
    var level = $('#levelInput').val();
    FiercePlanet.currentLevelNumber = FiercePlanet.checkInteger(level);
    FiercePlanet.currentLevelPreset = true;
    // Remember this level, along with other data
    FiercePlanet.storeData();
};

FiercePlanet.changeDifficulty = function () {
    var difficulty = $('#difficultyInput').val();
  FiercePlanet.levelOfDifficulty = FiercePlanet.checkInteger(difficulty);
};

$(document).ready(function() {
    $('#levelInput').change(FiercePlanet.changePresetLevel);
    $('#difficultyInput').change(FiercePlanet.changeDifficulty);
});
