<div id="lg">

  <% if @levels.length > 0 %>
      <h3>Open a custom level:</h3>

      <% @levels.each do |level| %>
          <div>
            <%= link_to level.name, level, :remote => true %>
          </div>
      <% end %>
  <% end %>

</div>
