$('#notifications').html("<p>Opening level gallery</p>");
$levelList = $('<div></div>')
        .html("<%=  escape_javascript(render('levels/gallery', :locals => { :levels => @levels})) %>")
        .dialog({
                    autoOpen: false,
                    modal: true,
                     width: 300,
                    title: 'Level Setup',
                    buttons: {
                        "OK": function() {
                            redrawWorld();
                            $(this).dialog("close");
                        }
                    }

                });
$levelList.dialog('open');