
// Pause the game, if in play
FiercePlanet.pauseGame();

// If we are editing a level, cancel the level editor
if (FiercePlanet.inDesignMode)
    FiercePlanet.cancelLevelEditor();

// Notify
$('#notifications').html("<p>Opening level gallery</p>");


// Construct and show the level gallery
FiercePlanet.$levelList = $('<div></div>')
        .html("<%=  escape_javascript(render('levels/gallery', :locals => { :levels => @levels})) %>")
        .dialog({
                                              position: [FiercePlanet.calculateWorldLeft(), FiercePlanet.calculateWorldTop()],
                                              width: 487,
                                              height: 407,
                    autoOpen: false,
                    modal: true,
                    title: 'Level Setup',
                    buttons: {
                        "OK": function() {
                            FiercePlanet.newLevel();
                            $(this).dialog("close");
                        },
                        "Cancel": function() {
                            $(this).dialog("close");
                        }

                    },
                    close: function(ev, ui) { $(this).remove(); },

                });
FiercePlanet.$levelList.dialog('open');



// Add event handlers when dialog is loaded
$(document).ready(function() {
    $('#levelInput').change(FiercePlanet.changePresetLevel);
    $('#difficultyInput').change(FiercePlanet.changeDifficulty);
});
