$('#notifications').html("<p>Opening level gallery</p>");
$levelList = $('<div></div>')
    .html("<%=  escape_javascript(render('levels/gallery', :locals => { :levels => @levels})) %>")
    .dialog({
        autoOpen: false,
        modal: true,
        title: 'Level Setup',
        buttons: {
            "Cancel": function() {
                $( this ).dialog( "close" );
            }
        }

    });
$levelList.dialog('open');