$('#notifications').html("<p>Showing levels...</p>");
$levelList = $('<div></div>')
        .html("<%=  escape_javascript(render('levels/index', :locals => { :levels => @levels})) %>")
        .dialog({
                    autoOpen: false,
                    modal: true,
                    width: 300,
                    title: 'Level Setup',
                    buttons: {
                        "Cancel": function() {
                            $(this).dialog("close");
                        }
                    }

                });
$levelList.dialog('open');