$('#notifications').html("<p>Creating a new level...</p>");
if (FiercePlanet.$levelList != undefined)
    FiercePlanet.$levelList.dialog('close');
$(".edit_level_properties").remove();
FiercePlanet.$editProperties = $('<div></div>')
        .html("<%=  escape_javascript(render('levels/edit_properties', :locals => { :level => @level})) %>")
        .dialog({
                    autoOpen: false,
                    modal: true,
                    title: 'Level Setup',
                    width: 600,
                    buttons: {
                        "Save Level": function() {
                            $(".edit_level_properties").submit();
                            FiercePlanet.drawGame();
                            $( this ).dialog( "close" );
                        },
                        "Cancel": function() {
                            $(this).dialog("close");
                        }
                    }

                });
FiercePlanet.$editProperties.dialog('open');