$('#notifications').html("<p>Creating a new level...</p>");
$levelList.dialog('close');
$(".edit_level_properties").remove();
$editProperties = $('<div></div>')
        .html("<%=  escape_javascript(render('levels/edit_properties', :locals => { :level => @level})) %>")
        .dialog({
                    autoOpen: false,
                    modal: true,
                    title: 'Level Setup',
                    width: 600,
                    buttons: {
                        "Save Level": function() {
                            $(".edit_level_properties").submit();
                            redrawBaseCanvas();
                            $( this ).dialog( "close" );
                        },
                        "Cancel": function() {
                            $(this).dialog("close");
                        }
                    }

                });
$editProperties.dialog('open');