$('#notifications').html("<p>Opening level <%= @level.name %>...</p>");
FiercePlanet.$levelList.dialog('close');
<%=  render('levels/setup_level', :locals => { :level => @level}) %>
FiercePlanet.newLevel();

