

$('#notifications').html("<p>Opening level <%= @level.name %>...</p>");

FiercePlanet.levelGalleryDialog.dialog('close');

<%=  render('levels/setup_level', :locals => { :level => @level}) %>

FiercePlanet.newLevel();

